flow.json
[
    {
        "id": "0da6ddbdcfa7458f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a198528ca740f4a3",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Pushs data to PTL",
        "style": {
            "stroke": "#3f3f3f",
            "fill": "#ffbfbf",
            "label": true,
            "fill-opacity": "0.5",
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "0e6bc200b09c7a7d",
            "051a73ac06314ce2",
            "2f96b26b089142e1",
            "8f7bc09c98e986ec",
            "c810789fa1a309b7",
            "d4d95accb151fa67",
            "dca31a67936ee93f",
            "a451bec1af828a1c",
            "7a6d0b0b285f1090"
        ],
        "x": 1054,
        "y": 1139,
        "w": 1332,
        "h": 130
    },
    {
        "id": "2dc58fcdeec6f34b",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Deletes the copied row in table",
        "style": {
            "stroke": "#3f3f3f",
            "fill": "#c8e7a7",
            "label": true,
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "18b7da6057d40dc1",
            "661e6a09772303e0"
        ],
        "x": 1294,
        "y": 1039,
        "w": 332,
        "h": 90
    },
    {
        "id": "1762a8600b492943",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Tranfers data to CSV and get acknowlegment ",
        "style": {
            "stroke": "#3f3f3f",
            "fill": "#bfdbef",
            "label": true,
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "9967f094d5ef8554",
            "80be837764525128",
            "69f414ed8b74500c",
            "6e2133802b2fc9f7",
            "93afda224e8bb47d",
            "946ad102f7abac43",
            "07e951e378b7c7fe"
        ],
        "x": 654,
        "y": 859,
        "w": 872,
        "h": 170
    },
    {
        "id": "09ebdab3baabd7f4",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Reads the table LIMIT to 1",
        "style": {
            "stroke": "#3f3f3f",
            "fill": "#c8e7a7",
            "label": true,
            "fill-opacity": "0.54",
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "3d88957b6e830ddc",
            "aacdbacb7d4c80a2",
            "a35f6e948ce72953"
        ],
        "x": -1,
        "y": 939,
        "w": 607,
        "h": 90
    },
    {
        "id": "ca8a527107a55bae",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Reads entire table",
        "style": {
            "stroke": "#3f3f3f",
            "fill": "#dbcbe7",
            "fill-opacity": "0.73",
            "label": true,
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "dabde30bcbd2a04b",
            "5e0dbd8dd8d91d77",
            "686f91cc77689fbb"
        ],
        "x": 34,
        "y": 619,
        "w": 652,
        "h": 90
    },
    {
        "id": "59156c4fa39eaa5c",
        "type": "group",
        "z": "0da6ddbdcfa7458f",
        "name": "Genreate random data and insert into table",
        "style": {
            "stroke": "#3f3f3f",
            "label": true,
            "fill": "#ffefbf",
            "fill-opacity": "0.65",
            "label-position": "sw",
            "color": "#000000"
        },
        "nodes": [
            "4f39815261a8400f",
            "cdf8ec3f7099ad2d",
            "08f2b70f2836533a",
            "9e7a5c296c2392af",
            "5fc4693ece699fdb"
        ],
        "x": 14,
        "y": 759,
        "w": 1032,
        "h": 90
    },
    {
        "id": "3d78b677.5d2c8a",
        "type": "sqlitedb",
        "db": "C:\\Datalog\\database.db",
        "mode": "RWC"
    },
    {
        "id": "26eb42ad1aa1e1d4",
        "type": "ui_group",
        "name": "Audio Switch",
        "tab": "a53c82b00b63514e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a53c82b00b63514e",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "90f6a2e461324b7e",
        "type": "eth-ip endpoint",
        "address": "192.168.2.252",
        "slot": "0",
        "cycletime": "100",
        "name": "AB PLC",
        "vartable": {
            "": {
                "WMS_To_Plc_Msg.CommandType": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.FromX": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.FromY": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.FromZ": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.rRequestId": {
                    "type": ""
                },
                "WMS_To_Plc_Msg.ToX": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.ToY": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.ToZ": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.sRequestId": {
                    "type": ""
                },
                "WMS_To_Plc_Msg.BinId": {
                    "type": ""
                },
                "WMS_To_Plc_Msg.pRequestId": {
                    "type": ""
                },
                "WMS_To_Plc_Msg.SkuId": {
                    "type": "DINT"
                },
                "WMS_To_Plc_Msg.PickQty": {
                    "type": "DINT"
                },
                "Plc_To_WMS_Msg.rRequestId": {
                    "type": ""
                },
                "Plc_To_WMS_Msg.sRequestId": {
                    "type": ""
                },
                "Plc_To_WMS_Msg.pRequestId": {
                    "type": ""
                },
                "Plc_To_Gateway_Msg_Id": {
                    "type": "DINT"
                },
                "Gateway_To_Plc_Msg_Id": {
                    "type": "DINT"
                },
                "Gateway_To_Plc_rRequest_Id_Ack": {
                    "type": ""
                },
                "Gateway_To_Plc_sRequest_Id_Ack": {
                    "type": ""
                },
                "Gateway_To_Plc_pRequest_Id_Ack": {
                    "type": ""
                },
                "Bot1_Storage_Error": {
                    "type": "BOOL"
                },
                "Bot2_Storage_Error": {
                    "type": "BOOL"
                },
                "Machine_Reset_ON": {
                    "type": "BOOL"
                },
                "Enable_Task_Handling": {
                    "type": "BOOL"
                },
                "FlushFIFO_Data": {
                    "type": "BOOL"
                },
                "Cmnd_Startup": {
                    "type": "BOOL"
                },
                "StartUp_Sequence_Number": {
                    "type": "INT"
                },
                "Mover_ID[1].Mover_Running_Seq": {
                    "type": "DINT"
                },
                "Mover_ID[2].Mover_Running_Seq": {
                    "type": "DINT"
                },
                "Mover_ID[1].ForkBot.Input.Single_Left_Storage_Done": {
                    "type": "BOOL"
                },
                "Mover_ID[1].ForkBot.Input.Double_Left_Retrieval_Done": {
                    "type": "BOOL"
                },
                "Mover_ID[2].ForkBot.Input.Single_Left_Storage_Done": {
                    "type": "BOOL"
                },
                "Mover_ID[2].ForkBot.Input.Double_Left_Retrieval_Done": {
                    "type": "BOOL"
                },
                "GatewayMessageSequence_Number": {
                    "type": "INT"
                },
                "Enable_Queue": {
                    "type": "BOOL"
                }
            }
        }
    },
    {
        "id": "5fc4693ece699fdb",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "59156c4fa39eaa5c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 800,
        "wires": []
    },
    {
        "id": "cdf8ec3f7099ad2d",
        "type": "sqlite",
        "z": "0da6ddbdcfa7458f",
        "g": "59156c4fa39eaa5c",
        "mydb": "3d78b677.5d2c8a",
        "sqlquery": "fixed",
        "sql": "CREATE TABLE IF NOT EXISTS ptl (id INTEGER PRIMARY KEY, col1 TEXT, col2 TEXT, col3 TEXT);",
        "name": "create",
        "x": 390,
        "y": 800,
        "wires": [
            [
                "08f2b70f2836533a"
            ]
        ]
    },
    {
        "id": "4f39815261a8400f",
        "type": "inject",
        "z": "0da6ddbdcfa7458f",
        "g": "59156c4fa39eaa5c",
        "name": "Generate and Inject Data",
        "props": [],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "cdf8ec3f7099ad2d"
            ]
        ]
    },
    {
        "id": "08f2b70f2836533a",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "59156c4fa39eaa5c",
        "name": "Prepare random data",
        "func": "var tableName = 'ptl';\nif (!flow.get('counter')) {\n    flow.set('counter', 0);\n}\n\nvar counter = flow.get('counter') + 1;\nflow.set('counter', counter);\n\nvar characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789012345678901234567890123456789012345678901234567890123456789';\nvar str5 = '', str1 = '', str2 = '', str3 = '', str4 = '', rrequest = '', srequest = '';\nvar binid ='BPTC02-37-0-1-3'\nfor (var i = 0; i < 8; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str1 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str2 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str3 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str4 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 12; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str5 += characters.charAt(randomIndex);\n}\nrrequest = str1 + '-' + str2 + '-' + str3 + '-' + str4 + '-' + str5;\n\nstr1 = str2 = str3 = str4 = str5=''\n\nfor (var i = 0; i < 8; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str1 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str2 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str3 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 4; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str4 += characters.charAt(randomIndex);\n}\n\nfor (var i = 0; i < 12; i++) {\n    var randomIndex = Math.floor(Math.random() * characters.length);\n    str5 += characters.charAt(randomIndex);\n}\nsrequest = str1 + '-' + str2 + '-' + str3 + '-' + str4 + '-' + str5;\n\n\nvar insertQuery = `INSERT INTO ${tableName} (id,col1,col2,col3) VALUES ('${counter}', '${binid}', '${rrequest}', '${srequest}')`;\n\nmsg.topic = insertQuery;\nmsg.payload=\"\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 800,
        "wires": [
            [
                "9e7a5c296c2392af"
            ]
        ]
    },
    {
        "id": "9e7a5c296c2392af",
        "type": "sqlite",
        "z": "0da6ddbdcfa7458f",
        "g": "59156c4fa39eaa5c",
        "mydb": "3d78b677.5d2c8a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Insert Database",
        "x": 780,
        "y": 800,
        "wires": [
            [
                "5fc4693ece699fdb"
            ]
        ]
    },
    {
        "id": "dabde30bcbd2a04b",
        "type": "sqlite",
        "z": "0da6ddbdcfa7458f",
        "g": "ca8a527107a55bae",
        "mydb": "3d78b677.5d2c8a",
        "sqlquery": "fixed",
        "sql": "SELECT * FROM ptl",
        "name": "Read the data ",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "686f91cc77689fbb"
            ]
        ]
    },
    {
        "id": "5e0dbd8dd8d91d77",
        "type": "inject",
        "z": "0da6ddbdcfa7458f",
        "g": "ca8a527107a55bae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 660,
        "wires": [
            [
                "dabde30bcbd2a04b"
            ]
        ]
    },
    {
        "id": "686f91cc77689fbb",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "ca8a527107a55bae",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 660,
        "wires": []
    },
    {
        "id": "aacdbacb7d4c80a2",
        "type": "sqlite",
        "z": "0da6ddbdcfa7458f",
        "g": "09ebdab3baabd7f4",
        "mydb": "3d78b677.5d2c8a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Read SQL Database",
        "x": 480,
        "y": 980,
        "wires": [
            [
                "6e2133802b2fc9f7",
                "93afda224e8bb47d"
            ]
        ]
    },
    {
        "id": "3d88957b6e830ddc",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "09ebdab3baabd7f4",
        "name": "Set SQL Query",
        "func": "msg.topic = 'SELECT * FROM ptl LIMIT 1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 265,
        "y": 980,
        "wires": [
            [
                "aacdbacb7d4c80a2"
            ]
        ]
    },
    {
        "id": "a35f6e948ce72953",
        "type": "inject",
        "z": "0da6ddbdcfa7458f",
        "g": "09ebdab3baabd7f4",
        "name": "Trigger",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 95,
        "y": 980,
        "wires": [
            [
                "3d88957b6e830ddc"
            ]
        ]
    },
    {
        "id": "6e2133802b2fc9f7",
        "type": "csv",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "CSV",
        "sep": ",",
        "hdrin": false,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": false,
        "include_null_values": false,
        "x": 730,
        "y": 980,
        "wires": [
            [
                "69f414ed8b74500c"
            ]
        ]
    },
    {
        "id": "69f414ed8b74500c",
        "type": "file",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "Write to CSV",
        "filename": "C:\\Datalog\\CSVfile.csv",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 885,
        "y": 980,
        "wires": [
            [
                "80be837764525128",
                "0e6bc200b09c7a7d"
            ]
        ]
    },
    {
        "id": "80be837764525128",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "Send Acknowledgement",
        "func": "msg.payload = \"Transfer completed. Row data has been transferred to the CSV file.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 980,
        "wires": [
            [
                "9967f094d5ef8554",
                "661e6a09772303e0"
            ]
        ]
    },
    {
        "id": "9967f094d5ef8554",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "Acknowledgement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 980,
        "wires": []
    },
    {
        "id": "93afda224e8bb47d",
        "type": "switch",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 750,
        "y": 900,
        "wires": [
            [
                "946ad102f7abac43"
            ]
        ]
    },
    {
        "id": "946ad102f7abac43",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "Send error Acknowledgement",
        "func": "msg.payload = \"Transfer aborted. Database is empty.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 900,
        "wires": [
            [
                "07e951e378b7c7fe"
            ]
        ]
    },
    {
        "id": "07e951e378b7c7fe",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "1762a8600b492943",
        "name": "Acknowledgement",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 900,
        "wires": []
    },
    {
        "id": "18b7da6057d40dc1",
        "type": "sqlite",
        "z": "0da6ddbdcfa7458f",
        "g": "2dc58fcdeec6f34b",
        "mydb": "3d78b677.5d2c8a",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Delete",
        "x": 1550,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "661e6a09772303e0",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "2dc58fcdeec6f34b",
        "name": "Build Query",
        "func": "msg.topic = \"DELETE FROM ptl\\nWHERE ROWID = (SELECT ROWID FROM ptl\\nLIMIT 1);\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 1080,
        "wires": [
            [
                "18b7da6057d40dc1"
            ]
        ]
    },
    {
        "id": "0e6bc200b09c7a7d",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "Data transfer",
        "func": "var data = msg.payload.split(',');\nmsg.topic = data[1] + ',' + data[2] + ',' + data[3];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 1180,
        "wires": [
            [
                "051a73ac06314ce2"
            ]
        ]
    },
    {
        "id": "051a73ac06314ce2",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "Login Function",
        "func": "msg.url = \"https://www.voodoodevices.com/api/user/login/\";\nmsg.method = \"POST\";\nmsg.headers = {\n    \"content-type\": \"application/xml\",\n    \"accept\": \"application/xml\"\n};\nmsg.payload = `\n<item>\n  <username>girish.b@cartesiankinetics.com</username>\n  <password>Spirit1.heart</password>\n</item>\n`;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1340,
        "y": 1180,
        "wires": [
            [
                "2f96b26b089142e1"
            ]
        ]
    },
    {
        "id": "2f96b26b089142e1",
        "type": "http request",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1530,
        "y": 1180,
        "wires": [
            [
                "8f7bc09c98e986ec"
            ]
        ]
    },
    {
        "id": "8f7bc09c98e986ec",
        "type": "xml",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "Parse XML",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 1710,
        "y": 1180,
        "wires": [
            [
                "c810789fa1a309b7",
                "7a6d0b0b285f1090"
            ]
        ]
    },
    {
        "id": "c810789fa1a309b7",
        "type": "function",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "Device Command",
        "func": "msg.url = \"https://www.voodoodevices.com/api/device/DD8F5D:B775CB/\";\nmsg.method = \"POST\";\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Accept\": \"*/*\",\n    \"Referer\": \"https://www.voodoodevices.com/\",\n    \"x-csrf-token\": msg.payload.root.token,\n    \"Cookie\": \"csrftoken=\"+msg.payload.root.token[0]+\"; sessionid=\"+msg.payload.root.sessid[0]\n};\nvar data = msg.topic.split(',');\nmsg.payload = {\n    \"command\": \"flash\",\n    \"seconds\": \"6\",\n   // \"sound\": \"15,c5,4\",\n    \"line1\": data[0],\n    \"line2\": data[1],\n    \"line3\": data[2],\n    \n   //\"statica\": \"Hello\",\n   //\"staticb\": \"There2\",\n   //\"staticc\": \"\\\\ictop\",\n   //\"staticd\": \"\\\\qrmyspecialcode\"\n};\nmsg.topic='';\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1910,
        "y": 1180,
        "wires": [
            [
                "d4d95accb151fa67"
            ]
        ]
    },
    {
        "id": "d4d95accb151fa67",
        "type": "http request",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 2110,
        "y": 1180,
        "wires": [
            [
                "a451bec1af828a1c",
                "dca31a67936ee93f"
            ]
        ]
    },
    {
        "id": "7a6d0b0b285f1090",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1900,
        "y": 1220,
        "wires": []
    },
    {
        "id": "dca31a67936ee93f",
        "type": "debug",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2290,
        "y": 1180,
        "wires": []
    },
    {
        "id": "a451bec1af828a1c",
        "type": "http response",
        "z": "0da6ddbdcfa7458f",
        "g": "a198528ca740f4a3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 2290,
        "y": 1220,
        "wires": []
    }
]